*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
body{
    background: linear-gradient(to bottom, #F5C54E, #F2995E, #f07560, #FFAB93);
}
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
main {
    width: 90%;
    height: 500px;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    box-shadow: 0 25px 45px rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.25);
    border-right: 0 25px 45px rgba(255,255,255,0.1);
    border-bottom: 0 25px 45px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
input{
    width: 20%;
    height: 35px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    outline: none;
    padding: 0 40px;
}
HideNumbers{
    display: none;s
}