main {
    width: 90%;
    height: 100%;
    background-color: #ffff;
    margin: auto;
    border-radius: 11px;
    padding: 40px 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
input{
    width: 20%;
    height: 35px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    outline: none;
    padding: 0 40px;
}